<div class="clients">

  <div class="clients-form">
    <mat-card class="clients-form-container">

      <mat-card-header class="clients-form-header">
        <mat-card-title class="clients-form-title">Add a new Client</mat-card-title>
      </mat-card-header>

      <mat-card-content class="clients-form-content">

        <form [formGroup]="clientForm" class="clients-form">
          <mat-form-field appearance="outline" class="clients-form-field">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="clients-form-field">
            <mat-label>Date Of Birth</mat-label>
            <input matInput formControlName="dateOfBirth" [max]="getMaxDate()" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </form>

      </mat-card-content>

      <mat-card-actions class="clients-form-actions">
        <button mat-raised-button color="primary" type="submit" class="clients-form-action"
                [disabled]="loading || clientForm.invalid" [ngClass]="{'invalid': loading || clientForm.invalid}"
                (click)="create()">
          Create
        </button>
      </mat-card-actions>

    </mat-card>
  </div>

  <div class="clients-list">

    <mat-table *ngIf="clients.length > 0" [dataSource]="clients" class="mat-elevation-z8 clients-table">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Date Of Birth Column -->
      <ng-container matColumnDef="dateOfBirth">
        <mat-header-cell *matHeaderCellDef> Birth date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{getParsedDate(element.dateOfBirth)}} </mat-cell>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="delete(element)" >
          <button mat-button color="warn">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
  </div>

</div>
