.spinner_container {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: absolute;
  z-index: 1500;
  padding: 2px;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: inline-block;
}

.mat-spinner circle {
  stroke: blue;
}
