:host {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  background: #303030;
}

.login-buttons-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 35px;
}

.login {
  padding-top: 30vh;
  background: #303030;

  &-button {

  }

  &-google-icon {
    width: 60px;
    align-self: center;
    margin-bottom: 20px;
  }
}
