:host {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  background: #303030;
}

.login-buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.login {
  padding-top: 30vh;
  background: #303030;
}
