<div class="login" (keypress)="isEnter($event)">
  <mat-card>
    <mat-card-title class="login-title">Simple Client Manager</mat-card-title>
    <mat-card-content class="login-buttons-container">
      <img class="login-google-icon" [src]="'./assets/icon/google-logo.png'" alt="icon"/>
      <button class="login-button" mat-raised-button color="primary"
              *ngIf="!(authService.user$ | async)" (click)="authService.googleSignIn()">
        Login
      </button>
    </mat-card-content>
  </mat-card>
</div>
